# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/dict/base.dat.gz
public/dict/cc.dat.gz
public/dict/check.dat.gz
public/dict/tid_map.dat.gz
public/dict/tid_pos.dat.gz
public/dict/tid.dat.gz
public/dict/unk_char.dat.gz
public/dict/unk_compat.dat.gz
public/dict/unk_invoke.dat.gz
public/dict/unk_map.dat.gz
public/dict/unk_pos.dat.gz
public/dict/unk.dat.gz
